<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is an HTML  Mail</title>
    <style>
        h1 { color: blue;
        text-align: center;}
    </style>
</head>
<body>
    <h1>Signatures Summary</h1>
    <hr>
    <p><b> {{IPlen}}</b> IP address</p>
    <p><b>{{DOMAINlen}}</b> Domains</p>
    <p><b>{{SHA1len}}</b> SHA1</p>
    <p><b>{{SHA256len}}</b> SHA256</p>
    <p><b>{{URLlen}}</b> URLs</p>
    <hr>
    <img id="img" class="imageClass" src="{{imageURL}}"></img>
    {{!-- <img src="data:image/jpeg;base64,{{TROTLogo}}" width="120" height="150px" /> --}}
</body>

</html>